/* Styles pour le formulaire */
.auth-form {
    text-align: center;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styles pour le formulaire en haut de l'en-tête */
.auth-header-form {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(2, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}