<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Language Learning Community</title>
    <link rel="stylesheet" href="https://unpkg.com/primeng@13.0.0/primeng.min.css" />
    
</head>
<body>
    <header>
        <app-authentification></app-authentification>

        <h1>Welcome to Language Learning Community</h1>
        <p>Explore the World of Languages</p>
    </header>

    
    <router-outlet></router-outlet>
</body>
</html>