<div class="container">
    <div class="section section-1">
        <h2>Why Learn a New Language?</h2>
        <p>Learning a new language opens up a world of possibilities:</p>
        <ul>
            <li>Connect with people from different cultures.</li>
            <li>Enhance your career opportunities.</li>
            <li>Travel with confidence and immerse yourself in local cultures.</li>
        </ul>
    </div>

    <div class="section section-2">
        <div class="image-container">
            <img src="../assets/logo.png" class="logo-image" alt="Language Community Image">
        </div>
        <app-langages-list></app-langages-list>
    </div>

    <div class="section section-3">
        <p>Join our community to embark on a language learning journey!</p>
        <p>Ready to get started? <a class="p-button" href="#">Join Community</a></p>
    </div>
</div>